body {
  background: black;
}

.title {
  display: flex;
  justify-content: center;
  color: white;
  padding-top: 30px;
  font-size: 50px;
}

.title::before {
  content: '';
  background: red;
  width: 75px;
  height: 75px;
  border: 4px solid white;
  border-radius: 50%;
  transform: translate(-30px,-10px);
}

.title::after {
  content: '';
  background: rgb(4, 0, 230);
  width: 75px;
  height: 75px;
  border: 4px solid white;
  border-radius: 50%;
  transform: translate(30px,-10px);
}