.text-1 {
  font-family:'Open Sans', sans-serif; ;
  font-size: 20px
}

.text-2 {
  font-family: serif;
  font-size: 20px;
  font-weight: 400;
  text-decoration: line-through;
}

.text-3 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 40px;
  font-weight: 300;
  text-align: center;
}

.text-4 {
  font-family: serif;
  word-spacing: 30px;
  text-decoration: overline wavy rgb(91, 0, 177);
  color: blueviolet;
  text-shadow: 4px -5px 7px rgb(143, 143, 150);
  font-size: 20px;
}

.text-5 {
  font-family: serif;
  font-size: 20px;
  letter-spacing: 5px;
  text-decoration: underline double;
}